@import './header';
@import './footer';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1024px;
    margin:0 auto;
    padding: 0 0.5rem;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    //margin-top: 60px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    column-gap: 26px;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.comicCover{
    width:186px;
    height: 186px;
}

main{
    color: white;
    background-color: black;
}
.mainContainer{
    display: flex;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    column-gap: 26px;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.comicCover{
    width:186px;
    height: 186px;
}